*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

.container{

    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
}
.container .content{
    text-align: center;
}
.container .content h3{
    font-size: 30px;
    color: black;
}

.container .content h3 span{
    background: greenyellow;
    color: black;
    border-radius: 5px;
    padding: 0 15px;
}
.container .content h1{
    font-size: 50px;
    color: black;
}
.container .content h1 span{
    color: blue;
}
.container .content p{
    font-size: 25px;
    margin-bottom: 20px;
}
.container .content .btn{
    display: inline-block;
    padding: 10px 30px;
    font-size: 20px;
    background: #333;
    color: yellow;
    margin: 0 5px;
}
.container .content .btn:hover{
    background: goldenrod;
}
.form-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
    background: #eee;

}
.form-container form{
    padding: 20px;
    border-radius: 5px;
    box-shadow:  0 5px 10px  rgba(0,0,0,.1);
    background: #fff;
    text-align: center;
    width: 500px;
}
.form-container form h3{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #333;
}
.form-container form input,
.form-container form select{
    width: 100%;
    padding: 10px 15px;
    font-size: 17px;
margin:8px 0;
color:black;
background: burlywood;
border-radius: 20px;
}
.form-container form select option{
    background: #eee;
}
.form-container form .form-btn{
    background:peru;
    font-weight: 800;
    color: #fff;
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
}
.form-container form .form-btn:hover{
    background: rgb(236, 182, 5);
    color:#fff;
}
.form-container form  p{
    margin-top: 10px;
    font-size: 20px;
    color: rgb(32, 212, 218)
}
.form-container form   a{
    color:rgb(250, 72, 7);
    font-weight: 800;
}
.form-container form  .error-msg{
    margin: 10px 0;
    display: block;
    background: crimson;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
}